<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- datepicker-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">


    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/estilos.css">
    <title>Hello, world!</title>

</head>

<body>
    {% load static%}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            <span class="text-light font-weight-bold"><img src="{% static 'imagenes/logo.png' %}"
                    width="18px">edical</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active ">
                    <a class="btn btn-success " data-toggle="tooltip" data-placement="bottom" title=""
                        data-original-title="Menu Principal" href="#"> Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class=" btn btn-flat-info btn-small" data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Administracion de Entidades" href="#"><span
                            class="text-white">Administracion</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-flat-info btn-small" data-toggle="tooltip" data-placement="bottom" title=""
                        data-original-title="Atencion de Pacientes" href="#"><span class="text-white">
                            Atencion</span></a>
                </li>


                <li class="nav-item">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom"
                            title="" data-original-title="Configurar Datos de Doctores">Configuraciones</button>
                        <div class="btn-group show" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                            <div class="dropdown-menu " aria-labelledby="btnGroupDrop1"
                                style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"
                                x-placement="bottom-start">
                                <a class="dropdown-item" href="#">Recetas</a>
                                <a class="dropdown-item" href="#">Antecedentes</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown ">
                        <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="right"
                            title="" data-original-title="Reportes Gerenciales">Reportes</button>
                        <div class="btn-group show" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                            <div class="dropdown-menu " aria-labelledby="btnGroupDrop1"
                                style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"
                                x-placement="bottom-start">
                                <a class="dropdown-item" href="#">Pacientes</a>
                                <a class="dropdown-item" href="#">Doctores</a>
                                <a class="dropdown-item" href="#">Historia Clinica</a>
                                <a class="dropdown-item" href="#">Recetas</a>
                                <a class="dropdown-item" href="#">Citas</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">29-08-2020</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span class="inner">
                            <img class="rounded" id="imgusuario" src="{% static 'imagenes/fotodaniel.jpeg' %}"
                                width="20px">
                        </span>
                        Daniel
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" id="inicio">
        <div class="row">
            <div class="col-s12 col-md-5 ">
                <div class="row">
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Menu Principal del Sistema</span>
                                </h6>

                            </div>
                            <a class="btn btn-success text-decoration-none " href="#"><span
                                    class="border-bottom border-warning">Configuracion</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Administracion del Sistema</span>
                                </h6>

                            </div>
                            <a class="btn btn-success text-decoration-none " href="#"><span
                                    class="border-bottom border-warning">Configuracion</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Atencion de Pacientes</span>
                                </h6>

                            </div>
                            <a class="btn btn-success text-decoration-none " href="#"><span
                                    class="border-bottom border-warning">Configuracion</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Configuracion de Antecedentes</span>
                                </h6>

                            </div>

                            <a class="btn btn-success" href="#"><span class="">Configuracion</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Configuracion de Antecedentes</span>
                                </h6>

                            </div>

                            <a class="btn btn-success" href="#"><span class="">Configuracion</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Configuracion de Antecedentes</span>
                                </h6>

                            </div>

                            <a class="btn btn-success" href="#"><span class="">Configuracion</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Configuracion de Antecedentes</span>
                                </h6>

                            </div>

                            <a class="btn btn-success" href="#"><span class="">Configuracion</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Configuracion de Antecedentes</span>
                                </h6>

                            </div>

                            <a class="btn btn-success" href="#"><span class="">Configuracion</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Configuracion de Antecedentes</span>
                                </h6>

                            </div>

                            <a class="btn btn-success" href="#"><span class="">Configuracion</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Configuracion de Antecedentes</span>
                                </h6>

                            </div>

                            <a class="btn btn-success" href="#"><span class="">Configuracion</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="card shadow mt-3 border-success text-center font-weight-bold">
                            <div class="inner">
                                <img class="card-img-top " src="static/imagenes/consultorio1.jpg">
                            </div>
                            <div class="card-body">
                                <h6 class="text-warning"><span class="color">
                                        Configuracion de Antecedentes</span>
                                </h6>

                            </div>

                            <a class="btn btn-success" href="#"><span class="">Configuracion</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-s12 col-md-7 ">

                <table class="table table-hover table-striped mt-3">

                    <thead class="bg-success text-light">

                        <tr>
                            <th scope="col">Hora</th>
                            <th scope="col">Paciente</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th colspan="4">
                                <form autocomplete="off">
                                    <div class="input-group input-daterange">
                                        <label class="mt-2 bg-light text-primary" for="start"><span
                                                class=" font-weight-bold">Citas
                                                De
                                                Pacientes Del Día</span> </label><span class="text-left mt-2">
                                            <i class="material-icons ">date_range</i>
                                        </span>
                                        <input type="text" id="start"
                                            class="form-control text-lg-left mr-2 bg-info text-dark font-weight-bold">
                                    </div>
                                </form>
                            </th>

                        </tr>
                        <tr>
                            <th>8:00</th>
                            <td>Daniel Vera Paredes</td>
                            <td><span class="badge badge-warning">Atendido</span></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-success btn-sm"> <i
                                            class="left material-icons right">library_add</i></button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                            <a class="dropdown-item" href="#">Agendar</a>
                                            <a class="dropdown-item" href="#">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th>9:00</th>
                            <td>Erick Vera Paredes</td>
                            <td><span class="badge badge-warning">Atendido</span></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-success btn-sm"> <i
                                            class="left material-icons right">library_add</i></button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                            <a class="dropdown-item" href="#">Agendar</a>
                                            <a class="dropdown-item" href="#">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>10:00</th>
                            <td>Romina Vera Paredes</td>
                            <td><span class="badge badge-warning">Atendido</span></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-success btn-sm"> <i
                                            class="left material-icons right">library_add</i></button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                            <a class="dropdown-item" href="#">Agendar</a>
                                            <a class="dropdown-item" href="#">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>11:00</th>
                            <td>Dayanna Vera Paredes</td>
                            <td><span class="badge badge-danger">Pendiente</span></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-success btn-sm"> <i
                                            class="left material-icons right">library_add</i></button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                            <a class="dropdown-item" href="#">Agendar</a>
                                            <a class="dropdown-item" href="#">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- En el orden jQuery, Popper.js y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

    <script>
        $(function () {
            let diaActual = new Date();
            let day = diaActual.getDate() < 10 ? '0' + diaActual.getDate() : diaActual.getDate();
            let month = (diaActual.getMonth() + 1) < 10 ? '0' + (diaActual.getMonth() + 1) : (diaActual.getMonth() + 1);
            let year = diaActual.getFullYear();
            diaActual = day + '-' + month + '-' + year;
            document.getElementById("start").value = diaActual;
            $('[data-toggle="tooltip"]').tooltip()
            $('.input-daterange').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                calendarWeeks: true,
                clearBtn: true,
                disableTouchKeyboard: true


            });


        })
    </script>
</body>

</html>