{% extends 'base.html' %}
{% block header %}
{% include 'header.html' %}
{% load static %}
{% endblock %}

{% block main %}

<div class="container-fluid" style="margin-top: 5rem">
    <div class="row">

        <div class="card w-100 ">
            <div class="card-header bg-success ">
                <h5 class="float-left text-light font-weight-bold my-2">Consulta de Pacientes</h5>
                <a href="" class="btn btn-primary float-right  btn-sm "><i class="material-icons ">note_add</i><span
                        class="text-right "> NUEVO
                        REGISTRO</span></a>
            </div>


            <form class="form mt-2 ml-3">
                <div class="row">
                    <div class="col-md-8">
                        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </div>
                </div>
            </form>


            <div class="card-body">
                <table class="table table-hover table-striped  table-responsive ">

                    <thead class="bg-primary text-light">
                        <tr>
                            <th class="text-center">Foto</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Genero</th>
                            <th class="text-center">Edad</th>
                            <th class="text-center">Correo</th>
                            <th class="text-center">Telefono</th>
                            <th class="text-center">Ciudad</th>
                            <th class="text-center">Direccion</th>
                            <th class="text-center">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-justify">

                            <td><img src="{% static 'imagenes/fotodaniel.jpeg' %}" class="img-thumbnail rounded-circle"
                                    alt="" width="50px"> </td>

                            <td><span>Daniel Vera</span> </td>
                            <td><img src="{% static 'imagenes/man.png' %}" alt="x" width="15px"></td>
                            <td>50</td>
                            <td>dverap@unemi.edu.ec</td>
                            <td>0992269847</td>
                            <td>Milagro</td>
                            <td>Av. Chile y Guayaquil</td>
                            <td>
                                <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group btn-group-sm " role="group" aria-label="First group">
                                        <button type="button" class="btn btn-outline-success" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Agendar Cita"><i
                                                class="material-icons">date_range</i></button>
                                        <button type="button" class="btn btn-outline-warning" data-toggle="tooltip"
                                            data-placement="bottom" title="" data-original-title="Nueva Atencion"><i
                                                class="material-icons">baby_changing_station</i></button>
                                        <button type="button" class="btn btn-outline-dark" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Historia Clinica"><i
                                                class="material-icons">how_to_reg</i></button>
                                        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip"
                                            data-placement="bottom" title=""
                                            data-original-title="Modificar Datos Paciente"><i
                                                class="material-icons">create</i></button>
                                        <button type="button" class="btn btn-outline-danger" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Eliminar Paciente"><i
                                                class="material-icons">delete</i></button>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr class="text-justify">

                            <td><img src="{% static 'imagenes/fotodaniel.jpeg' %}" class="img-thumbnail rounded-circle"
                                    alt="" width="50px"> </td>

                            <td><span>Daniel Vera</span> </td>
                            <td><img src="{% static 'imagenes/man.png' %}" width="15px"></td>
                            <td>50</td>
                            <td>dverap@unemi.edu.ec</td>
                            <td>0992269847</td>
                            <td>Milagro</td>
                            <td>Av. Chile y Guayaquil</td>
                            <td>
                                <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group btn-group-sm " role="group" aria-label="First group">
                                        <button type="button" class="btn btn-outline-success" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Agendar Cita"><i
                                                class="material-icons">date_range</i></button>
                                        <button type="button" class="btn btn-outline-warning" data-toggle="tooltip"
                                            data-placement="bottom" title="" data-original-title="Nueva Atencion"><i
                                                class="material-icons">baby_changing_station</i></button>
                                        <button type="button" class="btn btn-outline-dark" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Historia Clinica"><i
                                                class="material-icons">how_to_reg</i></button>
                                        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip"
                                            data-placement="bottom" title=""
                                            data-original-title="Modificar Datos Paciente"><i
                                                class="material-icons">create</i></button>
                                        <button type="button" class="btn btn-outline-danger" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Eliminar Paciente"><i
                                                class="material-icons">delete</i></button>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr class="text-justify">

                            <td><img src="{% static 'imagenes/fotodaniel.jpeg' %}" class="img-thumbnail rounded-circle"
                                    alt="" width="50px"> </td>

                            <td><span>Daniel Vera</span> </td>
                            <td><img src="{% static 'imagenes/man.png' %}" width="15px"></td>
                            <td>50</td>
                            <td>dverap@unemi.edu.ec</td>
                            <td>0992269847</td>
                            <td>Milagro</td>
                            <td>Av. Chile y Guayaquil</td>
                            <td>
                                <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group btn-group-sm " role="group" aria-label="First group">
                                        <button type="button" class="btn btn-outline-success" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Agendar Cita"><i
                                                class="material-icons">date_range</i></button>
                                        <button type="button" class="btn btn-outline-warning" data-toggle="tooltip"
                                            data-placement="bottom" title="" data-original-title="Nueva Atencion"><i
                                                class="material-icons">baby_changing_station</i></button>
                                        <button type="button" class="btn btn-outline-dark" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Historia Clinica"><i
                                                class="material-icons">how_to_reg</i></button>
                                        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip"
                                            data-placement="bottom" title=""
                                            data-original-title="Modificar Datos Paciente"><i
                                                class="material-icons">create</i></button>
                                        <button type="button" class="btn btn-outline-danger" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Eliminar Paciente"><i
                                                class="material-icons">delete</i></button>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-block btn-primary">Siguiente</button>

            </div>
        </div>

    </div>
</div>

{% endblock %}
{% block jscript %}
<script>
    $(function () {

        $('[data-toggle="tooltip"]').tooltip()
        $('.input-daterange').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            calendarWeeks: true,
            clearBtn: true,
            disableTouchKeyboard: true


        });


    })
</script>
{% endblock %}